$main: #14A76C;
$secondary: #FF652F;
$accent: #FFE400;
$black: #272727;
$grey: #747474;

body {
  margin: 0;
  padding: 0;
  background-color: $black;
  color: white;
  text-align: center;
  .wrapper {
    @media only screen and (min-width: 600px) {
      width: 80%;
      margin: auto;
    }
  
  .break {
    height: 1000px;
  }

  .container {    
    display: flex;
    text-align: center;
    margin-top: 20px;   
    @media only screen and (min-width: 600px) {
      margin: auto;
    }
    .main {
      -ms-flex: 1;  
      flex: 1; 
      img {
        max-width: 100%; //responzivnost
        height: auto;    // 
      }
    }
  }

  .navigation {
    width: 100%;
    display: table;
    .nav-slike {
      vertical-align: middle;
      display: table-cell;
      padding: 5px;
      img {      
        max-width: 100%; //responzivnost
        height: auto;    //  
      }
      
    }   
    .active {
      img {
        border: 2px solid gold;
      }
      
    } 
  }

  .settings {
    padding: 10px;
    margin: auto;
    display: flex;

    .autoplay {
      -ms-flex: 1;
      flex: 1;
    }
    .brojSekundi {
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      
      input {
        margin: 15px;
        width: 20px;
      }
    }
    .navigacija-toggle {
      -ms-flex: 1;
      flex: 1;
      text-align: right;
      label {
        float: right;
      }
    }
    .fade-in {
      -ms-flex: 1;
      flex: 1;
      top: 50%;
      text-align: center;
    }  
    .prikazi {
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      button {
        background-color: $main; 
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        margin: 20px;
        cursor: pointer;
        border-radius: 5px;   
        float: right;     
      }
    }
  }
}

.effect {
  animation: fadeIn ease 20s;
  -webkit-animation: fadeIn ease 20s;
  -moz-animation: fadeIn ease 20s;
  -o-animation: fadeIn ease 20s;
  -ms-animation: fadeIn ease 20s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

.arrow {      
  -ms-flex: 1;  
  flex: 1;   
  font-size: xx-large;

  p {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}


.ui-checkbox {
  input[type=checkbox] {
    transform: scale(1.5);
    margin: 20px;
  }
}
}